<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'metaclade/style.css' %}">
	<title>Home</title>
</head>

<body>
	<header><h1>MetaCLADE</h1></header>
	<div id="content">
		<nav>
			<h2>Menu</h2>
			<ul class = 'menu_nav'>
				<li><a class = "Menu" href="home">Home</a></li>
				<li><a class = "Menu" href="small_annotation">Few domains annotation</a></li>
				<li><a class = "Menu" href="large_annotation">All domains annotation</a></li>
				<li><a class = "Menu" href="references">References</a></li>
				<li><a class = "Menu" href="help">Help</a></li>
			</ul> 
		</nav>

	<section>
	<h2> References </h2>
	<h3>When you use information coming from MetaCLADE, please cite:</h3>
	
	<ul class = spaced_list>
		<li>A. Ugarte, R. Vicedomini, J.S. Bernardes and A. Carbone. (2018) A multi-source domain annotation pipeline for quantitative metagenomic and metatranscriptomic functional profiling. Ugarte et al. Microbiome (2018) 6:149</li>
		</ul>

	</section>
	</div>
	<footer>
		<a href="https://www.sorbonne-universite.fr/" target="_blank"><img id="UPMC-logo" class="img-responsive" src="../server_images/logo_sorbonne.png" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>

		<a href="http://www.cnrs.fr" target="_blank"><img id="CNRS-logo" class="img-responsive" src="../server_images/cnrs_logo.png" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>

		<a href="http://www.lcqb.upmc.fr/" target="_blank"><img id="LCQB-logo" class="img-responsive" src="../server_images/lcqb.jpg" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>


	</footer>
	<script src="test.js"></script>
</body>
</html>