/* Global structure header/body/footer */
html{
	height: 100%;}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color:white;
	color: rgb(77, 91, 97);
	font-size: 18px;
	font-size-adjust: 0.5;
	overflow-x: hidden;}

* {
	font-family: Verdana, Arial, sans-serif, Georgia, 'Times New Roman';
	word-wrap: break-word;}

h2 {
	text-align: center;
	font-size: 35px;
	font-size-adjust: 0.5;
	color: rgb(64, 64, 64);}

#subtitle {
	text-align: center;
	font-size: 30px;
	font-size-adjust: 0.5;
	font-weight: bold;
	color: rgb(64, 64, 64);}

h3 {
	font-size: 25px;
	font-size-adjust: 0.5;
	color: rgb(64, 64, 64);}

h4 {
	font-size: 20px;
	font-size-adjust: 0.5;
	color: rgb(64, 64, 64);}

p {
	font-size: 18px;
	font-size-adjust: 0.5;}

#header-menu {
	display: block;
	background-image: linear-gradient(rgb(158, 177, 96), rgb(187, 194, 164));}

#head {
	background-image: linear-gradient(rgb(158, 177, 96), rgb(187, 194, 164));
	background-image: url('http://www.lcqb.upmc.fr/MetaCLADE_webserver/server_images/pastel.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 200px;
	font-size: 35px;
	font-size-adjust: 0.5;
	padding-top: 20px;
	text-align: center;
	height: 150px;}

#container {
	min-height: 100%;
	position: relative;
	margin-bottom: 0;}

section {
	margin: auto;
	padding-top: 40px;
	padding-right: 75px;
	padding-left: 75px;
	padding-bottom: 180px;
	text-align: justify;
	min-height: 100%;}

footer {
	position: absolute;
	text-align: center;
	margin-left: auto;
	bottom: 0;
	left: 0;
	height: 150px;
	overflow: hidden;
	width:100%;
	border-top: 3px rgb(64, 64, 64) solid;
	background-image: linear-gradient(rgb(158, 177, 96), rgb(187, 194, 164));
	color: rgb(64, 64, 64);}

.img-responsive {
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 15px;
	margin-bottom:auto;}

.btn{
	font-size: 20px;
	font-size-adjust: 0.5;}

/* Navigation bar */
.topnav {
	overflow: hidden;
	border-bottom: solid rgb(64, 64, 64) 3px;}

.topnav a {
	float: left;
	display: block;
	font-weight: bold;
	font-size: 25px;
	font-size-adjust: 0.5;
	text-transform: uppercase;
	color: rgb(64, 64, 64);
	text-shadow: 0.1em 0.1em 0.2em rgba(21, 7, 36, 0.459);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;}

.topnav .icon {
	display: none;}

.dropdown {
	float: left;
	overflow: hidden;}

.dropdown .dropbtn {
	border: none;
	font-size: 25px;
	font-size-adjust: 0.5;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(64, 64, 64);
	text-shadow: 0.1em 0.1em 0.2em rgba(21, 7, 36, 0.459);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	background-image: white;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.678);
	z-index: 1;
	opacity: 1;}

.dropdown-content a {
	float: none;
	color: rgb(64, 64, 64);
	font-weight: bold;
	font-size: 20px;
	font-size-adjust: 0.5;
	background: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;}

.topnav a:hover, .dropdown:hover, .dropbtn:hover {
	font-size: 30px;
	font-size-adjust: 0.5;
	text-transform: uppercase;
	text-shadow: 0.1em 0.1em 0.2em rgb(90, 87, 87);}

.dropdown-content a:hover {
	font-size: 25px;
	font-size-adjust: 0.5;
	text-shadow: 0.1em 0.1em 0.2em rgb(90, 87, 87);}

.dropdown:hover .dropdown-content {
	display: block;}

@media screen and (max-width: 750px) {
	.topnav a:not(:first-child), .dropdown .dropbtn {
		display: none;}
	.topnav a.icon {
		float: right;
		display: block;}}

@media screen and (max-width: 750px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;}
	.topnav.responsive .dropdown {float: none;}
	.topnav.responsive .dropdown-content {position: relative;}
	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;}} 

/* Results table appearence */
.table_container {
	overflow-x: auto;
	width: 100%;
	margin-bottom: 10px;}

tfoot {
	display: table-header-group;}

table {
	border: 1px solid rgb(64, 64, 64);
	border-collapse: collapse;
	line-height: 1;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	table-layout: auto}

#result{
	width: 90%;}

#data_table{
	width: 90%;}

#goterms_table{
	max-width:1120%;}

table.dataTable thead{
	height: 60px;
	border: 1px solid rgb(64, 64, 64);
	color: rgb(64, 64, 64);
	text-shadow: 0.1em 0.1em 0.2em rgba(21, 7, 36, 0.459);
	background-image: linear-gradient(rgb(158, 177, 96), rgb(187, 194, 164));
	text-transform: uppercase;
	font-size: 14px;
	font-size-adjust: 0.5;}

table.dataTable tr {
	border: 1px solid rgb(64, 64, 64);} 

table.dataTable td {
	/* border: 0.5px solid black; */
	/* border-left: 0.5px solid black; */
	/* border-right: 0.5px solid black; */
	height: 40px;
	white-space: pre-line;
    word-break: keep-all;
	font-size: 13px;
	font-size-adjust: 0.5;}

tbody:hover td[rowspan], tr:hover td {
		background: rgba(155, 187, 196, 0.555); }

.table_header {
	font-weight: bold;}

.spaced_list {
	line-height: 200%;
	text-align: justify;
	font-size: 18px;
	font-size-adjust: 0.5;
	font-weight: initial;}

.ordonned_list {
	list-style: inside;
	list-style-type: decimal;
	line-height: 200%;
	text-align: justify;
	font-size: 18px;
	font-size-adjust: 0.5;
	font-weight: initial;}

.table_link{
	text-decoration: none;
	font-weight: bold;
	color: rgb(158, 177, 96);}

.table_link:hover{
	color: rgb(64, 64, 64);}

/* Form styling */
textarea {
	margin: 15px;
	padding: 10px;
	width: 85%;}

#e-value_dama {
	-webkit-appearance: none;
	padding: 0;
	outline: none;
	color: rgb(158, 177, 96);
	opacity: .8;
	background: rgba(0, 0, 0, 0.397);
	box-sizing: border-box;
	transition: opacity .2s;
	cursor: pointer;}

div.info {
	margin-top: 15px;
	padding: 20px 10px 10px 0px;
	position: relative;}

div.info div.contenu_info {
	display: none;}

.contenu_info{
	width: auto;
	padding: 15px;
	margin-left: 30px;
	box-shadow: 0 4px 8px 0 rgba(88, 88, 88, 0.486);}

#show_dama {
	display: none;}

#results_container{
	display: none;}

#goterms_container{
	display: none;}

#dl_link {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	margin-bottom: 10px;
	text-decoration: none;
	color: rgb(64, 64, 64);}

.form_fs {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.287);
	max-width: 50%;
	margin-top: 25px;
	margin-bottom: 25;
	margin-left: auto;
	margin-right: auto;
	text-align: center;}

#submission {
	margin: auto;
	text-align: center;}

/* Tooltip styling */
.tooltip {
	position: relative;
	display: inline-block;
	color: rgb(64, 64, 64);}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	margin: 10px;
	border-radius: 6px;
	position: absolute;
	font-size: 13px;
	font-weight: normal;
	z-index: 1;
	text-transform: initial;}

.tooltip:hover .tooltiptext {
	visibility: visible;}

/* Contact card */
.contact_container {
	margin: auto;}

.contact_fs {
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486);
	max-width: 300px;
	min-width: 200px;
	height: 150%;
	margin: 40px;
	text-align: center;}

.contact_img {
	width: 100%;
	height: 100%;}

.contact_descr {
	font-size: 20px;
	font-size-adjust: 0.5;}

.contact_title {
	font-size: 25px;
	font-size-adjust: 0.5;
	font-weight: bold;
	color: rgb(64, 64, 64);}

.social_media_div{
	margin: auto 0;}

.fas, .fab {
	padding: 20px;
	font-size: 30px;
	font-size-adjust: 0.5;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;}

.fas:hover, .fab:hover {
	opacity: 0.4;}

.fa-twitter {
	text-decoration: none;
	background: #55ACEE;
	color: white;
	font-size: 35px;
	font-size-adjust: 0.5;
	padding: 5px;}

.fa-linkedin {
	text-decoration: none;
	background: #007bb5;
	color: white;
	font-size: 35px;
	font-size-adjust: 0.5;
	padding: 5px;}

.fa-globe {
	text-decoration: none;
	background: #b50097;
	color: white;
	font-size: 35px;
	font-size-adjust: 0.5;
	padding: 5px;}

.fa-at {
	text-decoration: none;
	background: #f0960f;
	color: white;
	font-size: 35px;
	font-size-adjust: 0.5;
	padding: 5px;}  

.species_name{
	font-style: italic;}

div.dataTables_filter, div.dataTables_length {
	padding: 5px;}

.domain_rect:hover{
	transform: scale(1, 1.4);}

.domain_rect {
	transition: all 1s;
	transform-origin: 50% 50%;}

input:focus{
    outline:none;
    border-color:rgb(158, 177, 96);
    box-shadow:0 0 10px rgb(158, 177, 96);}

textarea:focus{
    outline:none;
    border-color:rgb(158, 177, 96);
	box-shadow:0 0 10px rgb(158, 177, 96);}

#clan{
	width: 100%;}

.autocomplete {
	width: 50%;
	position: relative;
	display: inline-block;}

.autocomplete-items {
	position: absolute;
	border: 1px solid #d4d4d4;
	font-size: 12px;
	border-top: none;
	z-index: 99;
	max-height: 1000%;
	overflow-y: scroll;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;}

.autocomplete-items div {
	padding: 10px;
	cursor: pointer;
	background-color: #fff; 
	border-bottom: 1px solid #d4d4d4;}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important; 
	color: #ffffff; }

input[type=text]{
	margin-bottom: 15px;}