html{
	height: 100%;
}
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color:gainsboro;
	position: relative;
	padding-bottom: 125px;
}
header{
	border-bottom: 3px rgb(0, 0, 0) solid;
	background-color: rgba(43, 68, 177, 0.397);
	background-image: linear-gradient(rgba(80, 106, 223, 0.397), rgba(79, 93, 160, 0.144));
	color: gainsboro;
	font-size: larger;
}
*{
	font-family: Verdana, Arial, sans-serif, Georgia, 'Times New Roman';
	overflow: auto;
	word-wrap: break-word;
}
span{
	font-weight: bold;
	color: red; 
}
.float_domain{
	float: left;
}
.below_domain{
	clear: both;
}
.Menu:hover{
	background-color: #8fc9fa;
	color: black 
}
nav{
    float: left;
    width: 230px;
	padding: 10px;
	list-style: inside;
	line-height: 200%;
}
section{
    margin-left: 170px;
	padding: 20px;
}
footer{
	clear: both;
	height: 125px;
	border-top: 3px rgb(0, 0, 0) solid;
	background-color: rgba(43, 68, 177, 0.397);
	background-image: linear-gradient(rgba(79, 93, 160, 0.144), rgba(80, 106, 223, 0.397));
	color: gainsboro;
	width:100%;
	font-size: initial;
	position: absolute;
	bottom: 0;
	margin-top:auto; 
}
.text{
	text-align: justify;
}

table{
	border-collapse: collapse;
	width: 100%;
}
tr:hover {background-color: #f5f5f5;}
table, th, td {
	border: 1px solid black;
	text-align: center;
}
.table_header{
	font-weight: bold;
}
.spaced_list{
	list-style: inside;
	line-height: 200%;
	text-align: justify;
	font-size: medium;
	font-weight: initial;
}
textarea{
	margin: 10px;
	padding: 10px;
}
