<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css"  href="../css_style/style.css">
	<title>Help</title>
</head>

<body>
	<header><h1>MetaCLADE</h1></header>
	<div>
	<nav>
		<h2>Menu</h2>
		<ul class = 'menu_nav'>
			<li><a class = "Menu" href="home.html">Home</a></li>
			<li><a class = "Menu" href="small_annotation.html">Few domains annotation</a></li>
			<li><a class = "Menu" href="large_annotation.html">All domains annotation</a></li>
			<li><a class = "Menu" href="references.html">References</a></li>
			<li><a class = "Menu" href="help.html">Help</a></li>
		</ul> 
	</nav>

	<section>
	<h2> Help </h2>
	<h3>How to use MetaCLADE</h3>
	<h4>Input</h4>
	
	<ul class = spaced_list>
		<li>Few dozens of sequences annotated against a library of probabilistic models</li>
		<li>Thousands of sequences to be annotated against a fixed small number of probabilistic models</li>
	</ul>

	<h4>Output</h4>

	<h4>Method</h4>
	</section>
	</div>

	<footer>
		<a href="https://www.sorbonne-universite.fr/" target="_blank"><img id="UPMC-logo" class="img-responsive" src="../server_images/logo_sorbonne.png" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>

		<a href="http://www.cnrs.fr" target="_blank"><img id="CNRS-logo" class="img-responsive" src="../server_images/cnrs_logo.png" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>

		<a href="http://www.lcqb.upmc.fr/" target="_blank"><img id="CNRS-logo" class="img-responsive" src="../server_images/lcqb.jpg" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>


	</footer>
	<script src="test.js"></script>
</body>
</html>