<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css"  href="../css_style/style.css">
	<title>Annotation</title>
</head>

<body>
	<header><h1>MetaCLADE</h1></header>
	<div id="content">
	<nav>
		<h2>Menu</h2>
		<ul class = 'menu_nav'>
			<li><a class = "Menu" href="home.html">Home</a></li>
			<li><a class = "Menu" href="small_annotation.html">Few domains annotation</a></li>
			<li><a class = "Menu" href="large_annotation.html">All domains annotation</a></li>
			<li><a class = "Menu" href="references.html">References</a></li>
			<li><a class = "Menu" href="help.html">Help</a></li>
		</ul> 
	</nav>

	<section>
	<h2> Annotation of a small sequences dataset against a complete library of probabilistic domain models </h2>
	<h3>Search for domains:</h3>

		<form method = "post" action="results_table.html" name="large_annotation_form" onsubmit="large_form_submission()">
			<p>
			<label for="sequences">Fasta format sequences:</label><br/>
			<textarea name="sequences" id = "sequences" rows='5' cols='30' placeholder=">Seq ID
sequence" autofocus></textarea><br/>
			<!-- <label for="fasta_file">Or browse a fasta file:</label>
			<input type="file" id="fasta_file" name="fasta_file" autofocus/>-->
			</p>
			<p>
			Do you want to use DAMA?
			<label for="yes">Yes</label><input type="radio" name="dama" id="yes" value = "yes" checked required/>
			<label for="no">No</label><input type="radio" name="dama" id="no" value = "no" required/>
			</p>
			<input type="submit" value="Search"/><input type="reset" value="Reset" />
		</form>	
		</section>
		</div>
		<footer>
			<a href="https://www.sorbonne-universite.fr/" target="_blank"><img id="UPMC-logo" class="img-responsive" src="../server_images/logo_sorbonne.png" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>
	
			<a href="http://www.cnrs.fr" target="_blank"><img id="CNRS-logo" class="img-responsive" src="../server_images/cnrs_logo.png" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>
	
			<a href="http://www.lcqb.upmc.fr/" target="_blank"><img id="LCQB-logo" class="img-responsive" src="../server_images/lcqb.jpg" alt="" style="max-height: 100px; margin-left: 25px; margin-right: 25px; margin-top: 10px;"></a>
	
	
		</footer>
		<script src="test.js"></script>
	</body>
	</html>