<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
	<meta charset="utf-8" />
	<title>Annotation</title>
</head>

{% block title %} Annotation of all the domains given in a library on a few amount of sequences {% endblock %}

{% block content %}

<p>
<div class='container'>
<form action="{% url 'large_annotation' %}" method="post" class = 'form'>
    {% csrf_token %}
	<p>
	Enter your sequences if a fasta format:
	{{form.sequences}}
	</p>
	<p>
	Browse the domain you want to annotate in a file:<br/>
	{{form.fasta_file}}
		</p>
	<p>
	Do you want to apply DAMA?<br/>
	{{form.dama_choice}}
	</p>
</div>
    <input type="submit" value="Submit" />
</form>
</div>
<p>{% if valid %}The form is valid !{% endif %}</p>
{% endblock %}