<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>References</title>
</head>
{% extends "base.html" %}
{% block title %} References {% endblock %}
{% block content %}

<h4>When you use information coming from MetaCLADE, please cite:</h4>
<p><ul class = 'text'>
	<li>A. Ugarte, R. Vicedomini, J.S. Bernardes and A. Carbone. (2018) A multi-source domain annotation pipeline for quantitative metagenomic and metatranscriptomic functional profiling. Ugarte et al. Microbiome (2018) 6:149</li>
</ul></p>

{% endblock %}